body {
  background-image: url("./bild.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #212529;
  font-size: 30px;
  font-style: italic;
}

p {
  text-align: left;
  color: #1a659e;
  font-style: italic;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

h3 {
  color: #1b1b1b;
  font-style: oblique;
  font-size: 21px;
  margin: 10px;
  padding: 10px;
}
.bold-underline {
  font-weight: bold;
  text-decoration: underline;
  margin: 10px;
  padding: 10px;
}

ul {
  font-size: 18px;
  /* color: red; */
}

ol {
  font-size: 18px;
  color: #4f772d;
}
ul li a {
  font-family: "Times New Roman", Times, serif;
  color: #1565c0;
  text-decoration: none;
}

.bildcontainer {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.img {
  /* display: flex; */
  background-image: url(./Sergej\ Brauer.jpg);
  height: 700px;
  width: 550px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  transition: transform 0.3s ease; /* плавное увеличивание */
}

.img:hover {
  transform: scale(1.2); /* увеличиваем на 20% */
  z-index: 1; /* чтобы не прикрывалось другими элементами */
  cursor: pointer; /* меняем курсор */
}

a:hover {
  color: white;
  text-decoration: underline;
}

li {
  list-style: none;
}

.marker-ul::before {
  content: "⚡";
}

.marker-ul {
  color: #f87648;
}
.marker-ol::before {
  content: "➤ ";
  color: #4f772d;
}

h4 {
  font-style: oblique;
  font-size: 21px;
  margin: 10px;
  padding: 10px;
  text-decoration: underline;
}

a::before {
  content: "→ ";
}


